<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments::head}"></head>

<body>

<div th:replace="~{fragments::main-top}"></div>

<header th:replace="~{fragments::main-header}"></header>

<div class="">
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right">
                <a href="@{/view-order-receipt/{id}(id=${order.id})}">View Receipt</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-white">
                        <tr>
                            <th>Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderdetail : ${order.orderDetailList}">
                            <td class="">
                                <a href="#">
                                    <img class="img-fluid"
                                         th:src="'data:image/jepg;base64,' + ${orderdetail.product.image}"
                                         width="200px" height="250px" alt=""/>
                                </a>
                            </td>
                            <td class="">
                                <strong th:text="${orderdetail.product.name}"></strong>
                            </td>
                            <td class="">
                                <strong th:text="'₹' + ${orderdetail.product.costPrice}"></strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row mt-3 mb-3 ">
                        <div class="col-lg-8 col-sm-12"></div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="font-weight-bold">Order summary</h3>
                                </div>
                                <div class="card-body p-3">
                                    <strong class="">Total Quantity: [(${order.quantity})]</strong>
                                    <br>
                                    <strong class="d-flex">Sub Total<div class="ml-auto font-weight-bold" th:text="${order.totalPrice}"></div></strong>
                                </div>
                                <hr class="my-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments::footer}"></footer>
</body>
</html>